@model WebApplication4.Models.FileModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <div style="border-radius: 10px; border: solid; border-color: green; width:360px">
        <p style="">Для открытия файла использовать ссылку. <br/>
             Путь к файлу не указывать(не обрабатывается)<br/>
             Путь к файлу - C:/index.txt
            </p>
        </div>
        @using (@Html.BeginForm()) {
            <p> file path: @Html.TextBox("path", "Путь к файлу")</p>
        <input type="submit" value="Открыть" name="open" />
        @Html.ActionLink("Открыть файл", "Edit")
        }
                                                       
    </div>
</body>
</html>
